// Variables

$dark-blue: #022449;
$orange: #f27D42; // likely for buttons on light blue
$fg-blue: #55BDCA;
$font-blue: #96FFFF;
$bg-blue: #C8EFE9;


$bg-black: #22262A;
$footer-color: #171a1d;


$one: #21143b;
$two: #322155;
$three: #927fbf;
$four: #c4bbf0;
$five: #e1d7eb;



