@import "./variables";

// Nav
.nav {
  width: 100%;
  height: 50px;
  background-color: $one;
  //font-family: "Open Sans", sans-serif;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  font-weight: 500;
  color: $four;
}
.nav__right {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 900x) {
  .nav__right {
    max-width: 80%;
  }
}

@media (min-width: 1200px) {
  .nav__right {
    max-width: 70%;
  }
}

@media (min-width: 1600px) {
  .nav__right {
    max-width: 60%;
  }
}

.nav__medialinks {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__medialink {
  margin: 5px 0px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav__medialink:nth-child(1) {
  margin-left: 0px;
}

.nav__medialink:hover {
  color: $five;
}

.nav__mediatext {
  display: none;
}

.nav__items {
  list-style: none;
  display: flex;
  margin-left: 0px;
}

.nav__item {
  margin-right: 15px;
}

.nav__img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
}

@media (min-width: 1200px) {
  .nav__mediatext {
    margin-left: 5px;
    display: none;
  }
}

// About

.about__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

.about__title {
  font-family: "Inconsolata";
  font-size: 6rem;
  line-height: 0.8;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
}

.about__title2 {
  font-size: 4rem;
}

.about__logoImage {
  order: 1;
  align-self: center;
}

.about__subtitleHeader {
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.about__subtitle {
  font-weight: 400;
  text-align: justify;
}

.about__subtitleContainer {
  padding: 5px 5px;
  order: 3;
}

.about__btn {
}

@media (min-width: 1200px) {
  .about__container {
    flex-direction: row;
    align-items: flex-start;
  }
  .about__title {
    padding-left: 0px;
    order: 2;
    flex-grow: 1;
    font-size: 12rem;
  }
  .about__title2 {
    font-size: 8rem;
  }
  .about__subtitleHeader {
    text-align: left;
  }

  .about__subtitle {
    text-align: left;
  }
}

// Projects

.project__container {
  margin-bottom: 20px;
  transition: all 400ms;
  transition-timing-function: linear;
}

.project__logoBox {
  width: 60%;
  height: 500px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.project__container:hover {
  filter: drop-shadow(0 0 1.75rem rgba($five, 0.45));

}

.project__logo {
 max-width: 100%;
 width: 350px;
 height: auto;
}

.project_descBox {
  width: 40%;
  
}

