@import "./variables";


// Nav
.nav {
  height: 50px;
  background-color: $orange;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: $dark-blue;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}

// Splash