@import "./variables";

// Nav
.nav {
  width: 100%;
  height: 50px;
  background-color: $one;
  //font-family: "Open Sans", sans-serif;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  font-weight: 500;
  color: $four;
}
.nav__right {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 900px) {
  .nav__right {
    max-width: 80%;
  }
}

@media (min-width: 1200px) {
  .nav__right {
    max-width: 70%;
  }
}

@media (min-width: 1600px) {
  .nav__right {
    max-width: 60%;
  }
}

.nav__medialinks {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__medialink {
  margin: 5px 0px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav__medialink:nth-child(1) {
  margin-left: 0px;
}

.nav__medialink:hover {
  color: $five;
}

.nav__mediatext {
  display: none;
}

.nav__items {
  list-style: none;
  display: flex;
  margin-left: 0px;
}

.nav__item {
  margin-right: 15px;
}

.nav__img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
}

@media (min-width: 1200px) {
  .nav__mediatext {
    margin-left: 5px;
    display: none;
  }
}

// About

.about__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

.about__title {
  font-family: "Roboto Mono";
  font-size: 6rem;
  line-height: 0.8;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
}

.about__title2 {
  font-size: 4rem;
}

.about__logoImage {
  order: 1;
  align-self: center;
}

.about__subtitleHeader {
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.about__subtitle {
  font-weight: 300;
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.3;
}

.about__subtitleContainer {
  padding: 5px 5px;
  order: 3;
}

.about__btn {
}

@media (min-width: 1200px) {
  .about__container {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 50px;
  }
  .about__title {
    padding-left: 0px;
    order: 2;
    flex-grow: 1;
    font-size: 12rem;
  }
  .about__title2 {
    font-size: 8rem;
  }
  .about__subtitleHeader {
    text-align: left;
  }

  .about__subtitle {
    text-align: left;
  }
}

// Projects

.project__container {
  margin-bottom: 20px;
  transition: all 800ms;
  transition-timing-function: linear;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $three;
  font-weight: 300;
}

.project__logoBox {
  width: 100%;
  height: 500px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__container:last-child {
  border-bottom: 0px;
}

.project__container:hover > div > img {
  filter: drop-shadow(0 0 1.75rem rgba($four, 0.45));
  margin-bottom: 30px;
}
.project__container > div > img {
  margin-bottom: -50px;
  transition: all 800ms;
}

.project__logo {
  max-width: 100%;
  width: 350px;
  height: auto;
}

.project__descBox {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px 10px;
}

.project__title {
  font-family: "Roboto Mono";
  font-size: 2rem;
}

.project__tags {
  list-style: none;
  margin-bottom: 15px;
}
.project__tag {
  display: inline-flex;
  flex-grow: 1;
  margin: 8px;
  border: 1px solid $four;
  padding: 8px;
  letter-spacing: 1px;
}

.project__label {
  font-size: 1.4rem;
}

.project__summary {
  margin-top: 1rem;
  line-height: 1.5;
  overflow-y: auto;
  text-align: justify;
  padding: 0 5px;
  height: 12rem;
  white-space: pre-line;
}

.project__btnContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
 // align-items: center;
}




@media (min-width: 1200px) {
  .project__container {
    flex-direction: row;
  }

  .project__btnContainer {
    justify-content: flex-start;
  }
  

  .project__container:hover > div > img {
    filter: drop-shadow(0 0 1.75rem rgba($four, 0.45));
    margin-bottom: 100px;
  }
  .project__container > div > img {
    margin-bottom: 50px;
    transition: all 800ms;
  }

  .project__summary {
    text-align: left;
    padding: 0 0px;
  }

  .project__descBox {
    text-align: left;
  }
}


// Footer

.footer {
  width: 100%;
  height: 50px;
  background-color: $one;
  //font-family: "Open Sans", sans-serif;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  font-weight: 500;
  color: $four;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item {
  margin-right: 15px;
}

// Skills

.skills__container {
  padding: 15px 15px;

}

.skills__list {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin: 20px 50px;

}

.skills__listItem {
  flex-grow: 1;
  margin-bottom: 30px;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__icon {
  color: $three;
}

.skills__listTitle {
  margin-top: 5px;

}

.skills__listSubtitle {
  margin-top: 5px;
  font-weight: 300;
  line-height: 1.3;
}